rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      match /users/{userId} {
        allow read: if request.auth.uid != null;
        allow create;
        allow update: if request.auth.uid == userId;
        allow delete: if request.auth.uid == userId;

        match /python/{scoreId} {
        allow read,write: if request.auth.uid == userId;
      }

       match /javascript/{scoreId} {
        allow read,write: if request.auth.uid == userId;
      }
      }
      match /questions/{quetionId} {
      allow read;
      allow write;
    }
    match /ranking/{rankingId} {
      allow read;
      allow write;

        match /python/{scoreId} {
        allow read;
        allow write;
      } 

       match /javascript/{scoreId} {
        allow read;
        allow write;
      }


    }
    }
  }
}